

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}

#start {
    position: flex;
    border-radius: 40px;
    padding: 10px;
    margin: 10px;
    height: 90px;
    width: 200px;
    font-size: 30px;
    background-color: blueviolet;
    color: black;
}

video {
    border-radius: 20px;
    width:100%;
    width: 696px;
}

.card-img-bottom {
    border-radius: 20px;
}

.card-img-bottom {
    background: rgb(195, 20, 151);
}

button {
border-radius: 20px;

}



.btn.btn-primary {
  
    background-color: rgb(78, 4, 95); ;
    width: 127px;
    height: 30px;
    border-radius: 20px;
    padding: 0.48px;
    cursor: pointer;
    outline: rgb(78, 4, 95)
    
}



button:hover {
    background: rgb(161, 155, 163);
}

h2 {
    font-size: 70px;
}

span {
   

    font-size: 20px;
}

h3 {
   
}

.row.align-items-start {
    max-width: 100%;
    
}

.row.align-items-center {
    max-width: 100%;
}


.btn.btn-outline-secondary {
   max-width: 100%;
   
  
}

.card-img-bottom {
  
 top : 100%;
}

div.p-2.w-100.bd-hightlight {
    display: flex;
} 


#button {
   
    background-color: blueviolet;
    height: 80px;
    width: 238px;
    border-color:blueviolet;
    border-radius: 40px;
}
#button:hover {
    background: rgb(78, 4, 95);
    transition: 2s;
}

div.d-flex.p-2.bd-highlight {
   
  right: 20px;
    margin: 20px;
}


body.dark-theme {
    color: #eee;
    background: #121212;
  }
  body.dark-theme a {
    color: #809fff;
  }


.fixed-top  { position: fixed;
  top: 0;
  right: 94%;
  left: 0;
 height: 100%;
}



@media (min-width: 576px) {
    .col-sm-5 {
        flex: 0 0 auto;
        width: 83.33333333%;
        padding: 10px;
    }
}

 div.p-2.w-100.bd-highlight {
    max-width: 100%;
    background-color: rgb(34, 32, 32);
    border-radius: 30px;
    height: 400px;
 }


